@import url('https://fonts.googleapis.com/css?family=Chewy|M+PLUS+1p:400,700&subset=cyrillic');

body {
  font-size: 0.9rem;
  font-family: 'M PLUS 1p', sans-serif!important;
}

.navbar-brand {
  font-size: 1.8rem;
  font-family: 'Chewy', cursive;
}